{{ define "main" }}
    <div class="content">
        <main class="posts">
            <h1>{{ .Title }}</h1>

            {{ if .Content }}
                <div class="content">{{ .Content }}</div>
            {{ end }}

            {{ $grcPosts := where .Site.RegularPages "Params.categories" "intersect" (slice "GRC Engineering") }}
            {{ $grcPosts = $grcPosts.ByDate.Reverse }}

            {{ if $grcPosts }}
                <div class="posts-group">
                    <ul class="posts-list">
                        {{ range $grcPosts }}
                            <li class="post-item">
                                <a href="{{.Permalink}}" class="post-item-inner">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-meta">
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                        {{ with .Params.series }}
                                            {{ if reflect.IsSlice . }}
                                                {{ range . }}
                                                    <span class="post-series"> • {{ . }}</span>
                                                {{ end }}
                                            {{ else }}
                                                <span class="post-series"> • {{ . }}</span>
                                            {{ end }}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ else }}
                <p><em>No posts yet. Check back soon!</em></p>
            {{ end }}
        </main>
    </div>
{{ end }}
